/*Base colors */
/* Fonts */
@font-face {
  font-family: "GT Eesti Pro";
  src: local("GT Eesti Pro Text Book"), local("GT-Eesti-Pro-Text-Book");
  src: url("../assets/fonts/GTEestiProText-Book.woff2") format("woff2");
  src: url("../assets/fonts/GTEestiProText-Book.woff") format("woff");
  src: url("../assets/fonts/GTEestiProText-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: local("GT Eesti Pro Text Light"), local("GT-Eesti-Pro-Text-Light");
  src: url("../assets/fonts/GTEestiProText-Light.woff2") format("woff2");
  src: url("../assets/fonts/GTEestiProText-Light.woff") format("woff");
  src: url("../assets/fonts/GTEestiProText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: local("GT Eesti Pro Text Medium"), local("GT-Eesti-Pro-Text-Medium");
  src: url("../assets/fonts/GTEestiProText-Medium.woff2") format("woff2");
  src: url("../assets/fonts/GTEestiProText-Medium.woff") format("woff");
  src: url("../assets/fonts/GTEestiProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "GT Eesti Pro", sans-serif;
}

body {
  overflow: hidden;
  background: radial-gradient(#fff 0%, #c4c4c4 100%);
}

canvas {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  margin: auto;
  padding: 3rem;
  padding-bottom: 0;
}

button {
  font-family: "GT Eesti Pro", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}

.section {
  width: 100vw;
  height: 100vh;
}

.design-square {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.design-square-red {
  background: #E32112;
}

.design-square-yellow {
  background: #FAB82E;
}

.none {
  display: none !important;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: transparent;
}
.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 1.5rem !important;
}

.hamburger {
  -webkit-transform: translateX(1.5rem) !important;
          transform: translateX(1.5rem) !important;
}

.visual-nav {
  position: absolute;
  top: 30vh;
  right: 1rem;
  width: 2rem;
  height: 21rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.visual-nav__item {
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: auto;
}
.visual-nav__line {
  position: relative;
  width: 0.11rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
}
.visual-nav__passed {
  position: absolute;
  width: 0.11rem;
  height: 0%;
  background: #ED7817;
}
.visual-nav__currentPoint {
  position: absolute;
  border: 0.11rem solid #ED7817;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  top: -0.24rem;
  left: -0.25rem;
}

.mt {
  margin-top: 0.5rem;
}

.intro {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: cflex-start;
      -ms-flex-pack: cflex-start;
          justify-content: cflex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 1;
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}
.intro__wrapper {
  width: 50%;
  margin-top: 3.5rem;
}
.intro__title {
  font-size: 6.25rem;
  line-height: 5.25rem;
  font-weight: normal;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.intro__orange-line {
  background: #ED7817;
  height: 1.5rem;
  margin-left: -3rem;
  margin-top: -1.1rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.intro__text {
  font-size: 2.0625rem;
  line-height: 2.25rem;
  margin-top: 2.125rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.intro__bg-image {
  position: absolute;
  bottom: 0;
  width: 51rem;
  right: -5rem;
  opacity: 1;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.intro__scroll-down {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 3rem;
  bottom: 4.5rem;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.intro__red {
  left: 0;
  bottom: 12rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.intro__yellow {
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* Second screen */
.first-title {
  display: block;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.second-title {
  display: none;
  opacity: 0;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.first-subtitle {
  display: block;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.second-subtitle {
  display: none;
  opacity: 0;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.second-screen-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 3rem;
  bottom: 6rem;
  display: none;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.second-screen-info__img {
  margin-right: 1rem;
}
.second-screen-info__text {
  width: 50%;
}

.rails-bg-wrapper {
  position: absolute;
  bottom: 0;
  width: 40rem;
  right: -1rem;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0;
}

.canvas-wrapper {
  position: fixed;
  display: none;
  opacity: 0;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
}

#canvas {
  opacity: 1;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
}

.transition {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #c4c4c4;
  background: radial-gradient(#fff 0%, #c4c4c4 100%);
  opacity: 1;
  display: block;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.stop-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
}
.stop-section__hero {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 100%;
  width: 28.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stop-section__title {
  font-weight: 500;
  font-size: 2.06rem;
  line-height: 2.25rem;
  margin-bottom: 1.18rem;
}
.stop-section__text {
  font-size: 1.06rem;
  line-height: 1.31rem;
  margin-bottom: 1rem;
}

.model-wrapper {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: rgba(204, 204, 204, 0.5);
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4rem;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.model-wrapper__design {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: #FAB82E;
}
.model-wrapper__model {
  width: 100%;
  display: block;
  margin: auto;
}
.model-wrapper__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  background: #fff;
  font-size: 1.06rem;
  line-height: 1.31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.model-wrapper__btn-text {
  font-size: 1.06rem;
  line-height: 1.31rem;
  padding: 0 1.31rem;
}

.button-design {
  height: 3rem;
}

.person-item {
  background: #fff;
  min-height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.5rem;
  width: 100%;
  cursor: pointer;
}
.person-item__img {
  height: 6rem;
  margin-right: 1.5rem;
}
.person-item__wrapper {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.person-item__name {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
.person-item__profession {
  font-size: 1.06rem;
  line-height: 1.31rem;
}

.stop-info {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  margin-right: 4rem;
}
.stop-info__img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: relative;
}
.stop-info__main-img {
  width: 100%;
}
.stop-info__hero {
  padding: 3rem;
  position: relative;
}
.stop-info__title {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}
.stop-info__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stop-info__text {
  font-size: 0.81rem;
  line-height: 0.94rem;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.stop-info__img-design {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #FAB82E;
}
.stop-info__close {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
}
.stop-info__hero-orange {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: #FAB82E;
}
.stop-info__hero-red {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #E32112;
}
.stop-info__btn {
  position: absolute;
  bottom: 0.75rem;
  background: #fff;
  padding: 0.84rem 1.3rem;
  right: 0;
  font-size: 1.06rem;
  line-height: 1.31rem;
}

.triangle {
  height: 0.81rem;
  width: 0.81rem;
  margin-right: 0.625rem;
}

.threeD-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  max-height: 33rem;
  max-width: 74rem;
  opacity: 0;
}

.frontFace {
  -webkit-transform: perspective(1000px) rotateY(0deg) translateZ(-1000px) scale(2.2);
          transform: perspective(1000px) rotateY(0deg) translateZ(-1000px) scale(2.2);
  top: 9rem;
  left: 7rem;
}

.leftFace {
  -webkit-transform: perspective(1000px) rotateY(130deg) translateZ(-1000px) scale(1.8);
          transform: perspective(1000px) rotateY(130deg) translateZ(-1000px) scale(1.8);
  top: 6.5rem;
  left: 5rem;
}

.rightFace {
  -webkit-transform: perspective(1000px) rotateY(-130deg) translateZ(-1000px) scale(2);
          transform: perspective(1000px) rotateY(-130deg) translateZ(-1000px) scale(2);
  top: 9rem;
  left: 5rem;
}

.close-icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 2.25rem;
  top: 2.25rem;
  cursor: pointer;
}

.slider__item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__img {
  width: 100%;
}
.slider__caption {
  height: 3rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__design {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}
.slider__text {
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.slider__arrow-wrapper {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  cursor: pointer;
}
.slider__arrow {
  width: 0.75rem;
  height: 0.75rem;
}

.arrow-left {
  left: 1.5rem;
}

.arrow-right {
  right: 1.5rem;
}

.slick-dots {
  bottom: 6rem !important;
}

.slick-dots li button {
  background: #fff !important;
  margin-right: 1rem !important;
  display: block !important;
  width: 0.5rem !important;
  height: 0.5rem !important;
}

.slick-dots li.slick-active button {
  background: #ED7817 !important;
}

.slick-dots li button:before {
  content: "" !important;
}

.person-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.person-description__photo {
  position: relative;
}
.person-description__img {
  height: 100%;
  width: 100%;
}
.person-description__hero {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  overflow-y: scroll;
  max-height: 39rem;
  scrollbar-color: #ED7817;
  scrollbar-width: thin;
  padding: 2rem;
  background-color: #fff;
}
.person-description__hero::-webkit-scrollbar {
  width: 3px;
}
.person-description__hero::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-right: 2rem;
}
.person-description__hero::-webkit-scrollbar-thumb {
  background: #ED7817;
}
.person-description__title-wrapper {
  position: relative;
  padding: 0 3rem;
}
.person-description__title {
  font-weight: 500;
  font-size: 2.06rem;
  line-height: 2.25rem;
  margin-bottom: 1.25rem;
  width: 95%;
}
.person-description__title-mark {
  position: absolute;
  width: 3rem;
  height: 2.5rem;
}
.person-description__subtitle {
  text-align: right;
  font-size: 0.81rem;
  line-height: 0.94rem;
  margin-bottom: 1.5rem;
  margin-left: 4rem;
}
.person-description__text {
  font-size: 1.06rem;
  line-height: 1.31rem;
  margin-bottom: 1.5rem;
}

.person-label {
  position: absolute;
  bottom: 3rem;
  background: #fff;
  min-height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.person-label__img {
  max-height: 4.5rem;
  margin-right: 1.5rem;
}
.person-label__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}
.person-label__name {
  font-size: 1.625rem;
  line-height: 1.31rem;
  margin-bottom: 0.2rem;
}
.person-label__profession {
  font-size: 1.06rem;
  line-height: 1.31rem;
}

.mark-left {
  top: 0;
  left: 0;
}

.mark-right {
  bottom: 0;
  right: 0;
}

.right-close-icon {
  top: 0rem;
  right: 2rem;
  z-index: 5;
}

.first-person-description {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.second-person-description {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.third-person-description {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.person-description__more {
  font-size: 1.06rem;
  line-height: 1.31rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.more-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*align-items: center */
}

.more-item {
  border: 1ps solid rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.more-item__img {
  height: 6rem;
  width: 6rem;
  margin-right: 1.5rem;
}
.more-item__text {
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.more-item__title {
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.more-itemprofession {
  font-size: 0.81rem;
  line-height: 0.94rem;
}/*# sourceMappingURL=style.css.map */