.city-finale
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 8rem 5rem 0rem 3rem
    opacity: 1.0
    transition: all 0.5s ease-in
    position: absolute
    top: 0
    &__title
        font-size: 3.25rem
        line-height: 3rem
        width: 40rem
        position: relative
        margin-bottom: 1.5rem
        text-align: center
    &__text
        font-size: 1.63rem
        line-height: 1.88rem
        width: 40rem
        margin-bottom: 3rem
        text-align: center
    &__canvas-wrapper
        display: flex
        justify-content: space-between
    &__canvas-item
        width: 15rem
        height: 15rem
        border: 1px solid red
        margin-right: 1.5rem
    &__design-left
        top: -1.0rem
        left: 2.0rem
        width: 4.5rem
        height: 4.5rem
        z-index: -1
    &__design-bottom
        width: 19.5rem
        right: 1.5rem
        bottom: 0rem
        z-index: -1
    &__design-right
        bottom: -1.5rem
        right: 0rem
        z-index: -1
