$yellow: #FAB82E
$orange: #ED7817
$red: #E32112
$gray50: rgba(0, 0, 0, 0.5)

*
    margin: 0
    padding: 0
    box-sizing: border-box
canvas
    min-width: 100vw
    min-height: 100vh
body
    overflow: hidden
