.header
    position: fixed
    z-index: 2
    width: 100%
    background: transparent
    &__hero
        display: flex
        justify-content: space-between
        align-items: baseline
        img
            height: 1.5rem
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    width: 1.5rem !important
.hamburger
    transform: translateX(1.5rem) !important
