.intro
    padding-top: 8rem
    display: block
    opacity: 1.0
    transition: all 3s ease-in
    &__img
        width: 100%
        min-height: 22.5rem
    &__title
        font-size: 9.75rem
        font-weight: normal
        line-height: 7.5rem
        margin-bottom: 1.625rem
        margin-top: -7.15rem
    &__subtitle
        font-size: 2.06rem
        font-weight: normal
        line-height: 3rem
